.App {
  text-align: center;
}

header h2 {
  margin-bottom: 0;
}

.order-select-box {
  margin: 20px auto 10px;
  font-size: 12px;
  vertical-align: middle;
}

.order-select-box span {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.product {
  margin: 5px;
  padding: 10px 20px;
  vertical-align: top;
}

.product-name {
  min-height: 35px;
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.product p {
  font-size: 12px;
  margin-bottom: .2rem;
}

.cart-box {
  width: 250px;
  height: 100%;
  background-color: #efefef;
  position: fixed;
  top: 0;
  right: -200px;
  padding: 20px 10px;
}

.cart-box.cart-box-open {
  right: 0;
  padding: 20px;
  box-shadow: -2px 0px 4px 0px rgba(211,211,211,0.5);
  -webkit-box-shadow: -2px 0px 4px 0px rgba(211,211,211,0.5);
  -moz-box-shadow: -2px 0px 4px 0px rgba(211,211,211,0.5);
}

.close-cart {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 10px;
}

.cart-box-click {
  cursor: pointer;
}

.cart-title {
  text-align: left;
  margin-bottom: 40px;
  position: relative;
}

.cart-title .cart-icon {
  width: 30px;
  height: 24px;
  margin-right: 10px;
  fill: black;
  background-image: url('/src/assets/cart-icon.svg');
  background-size: cover;
  display: inline-block;
}

.cart-title .cart-number {
  font-size: 9px;
  display: inline-block;
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 14px;
  left: 18px;
  top: -3px;
}

.cart-title .cart-title-text {
  display: inline-block;
  vertical-align: top;
} 

.cart-product {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 40px;
}

.cart-box.cart-box-open .cart-product {
  margin-left: 0;
}

.cart-product-img {
  width: 50px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.cart-product-info {
  width: 135px;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
}

.cart-product-info .cart-product-name {
  font-size: 11px;
  font-weight: 500;
}

.cart-product-info .cart-item-qty {
  font-size: 10px;
}

.cart-qty-buttons {
  display: inline-block;
}

.cart-qty-buttons .cart-add,
.cart-qty-buttons .cart-remove {
  display: block;
  width: 23px;
  height: 23px;
  padding: 0;
  line-height: 20px;
}

.cart-qty-buttons .cart-add {
  margin-bottom: 3px;
}

.cart-payment-box {
  margin-left: 40px;
}

.cart-box.cart-box-open .cart-payment-box {
  margin-left: 0;
}

.cart-subtotal, .cart-shipping, .cart-total {
  text-align: left;
  font-size: 13px;
}

.cart-total {
  font-size: 14px;
}