.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product {
  width: 30%;
  min-height: 300px;

  border: 1px solid black;
  margin: 20px 1% 0;
  padding: 20px;

  display: inline-block;
  vertical-align: top;
}


.cart-box {
  width: 200px;
  height: 100%;
  
  background-color: lightgray;
  
  position: fixed;
  top: 0;
  right: -150px;
  padding: 10px;
}

.cart-box.cart-box-open {
  right: 0;
}

.close-cart {
  position: absolute;
  right: 5px;
}

.cart-title {
  text-align: left;
}

.cart-title .cart-icon {
  width: 30px;
  height: 24px;
  margin-right: 10px;
  fill: black;

  background-image: url('/src/assets/cart-icon.svg');
  background-size: cover;

  display: inline-block;
}